<%= form_for(@game) do |f| %>
  <% if @game.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@game.errors.count, "error") %> prohibited this game from being saved:</h2>

      <ul>
      <% @game.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :team %><br>
    <%= f.text_field :team %>
  </div>
  <div class="field">
    <%= f.label "Team A" %><br>
    <%= f.collection_select(:teamA, @competitors, :name, :name, prompt: true) %>  
  </div>
  <div class="field">
    <%= f.label "Team B" %><br>
    <%= f.collection_select(:teamB, @competitors, :name, :name, prompt: true) %>  
  </div>
  <div class="field">
    <%= f.label :map %><br>
    <%= f.collection_select(:map, @maps, :name, :name, prompt: true) %>    
  </div>
  
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
