<%= render 'layouts/sortable_table_header' %>
  <thead>
    <tr>
      <th>View Match</th>
      <th>Winner</th>
      <th>Loser</th>
      <th>Team</th>
      <th>Map</th>
      <th>Team A</th>
      <th>Team B</th>
      <th>Time Processed</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @games.each do |game| %>
      <tr>
        <td><%= link_to image_tag("cog.png"), game %></td>
        
        <% if game.winner == nil then %>
          <td class="tbody">Queued</td>
        <% else %>
        <td class="tbody"><%= game.winner %></td> 
        <% end %>
        <td class="tbody"><%= game.loser %></td>
        <td class="tbody"><%= game.team %></td>
        <td class="tbody"><%= game.map %></td>
        <td class="tbody"><%= game.teama %></td>
        <td class="tbody"><%= game.teamb %></td>
        <td class="tbody"><%= game.updated_at %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= render 'layouts/sortable_table_footer' %>
<br>
