<p id="notice"><%= notice %></p>

<p>
  <strong>Game requested by:</strong>
  <%= @game.team %>
</p>

<p>
  <strong>Team A:</strong>
  <%= @game.teama %>
</p>

<p>
  <strong>Team B:</strong>
  <%= @game.teamb %>
</p>

<p>
  <strong>Map:</strong>
  <%= @game.map %>
</p>

<p>
  <strong>Turns:</strong>
  <%= @game.turns %>
</p>

<p>
  <strong>Score A:</strong>
  <%= @game.scorea %>
</p>

<p>
  <strong>Score B:</strong>
  <%= @game.scoreb %>
</p>

<p>
  <strong>Winner:</strong>
  <%= @game.winner %>
</p>

<p>
  <strong>Loser:</strong>
  <%= @game.loser %>
</p>

<p>
  <strong>File:</strong>
  <%= link_to "match.rms", @game.file.url %>
</p>

<p>
  <strong><%= "Competitors: " %></strong>
</p>
<%= render 'competitors/index' %>

