<%= render 'layouts/sortable_table_header' %>
  <thead>
    <tr>
      <th>Name</th>
      <th>Team</th>
      <th>Elo</th>
      <th>Wins</th>
      <th>Losses</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @competitors.each do |competitor| %>
      <tr>
        <% shown_name = competitor.broken ? "#{competitor.name} - Broken" : competitor.name %>
        <td class="tbody"><%= link_to shown_name, competitor %></td>
        <td class="tbody"><%= competitor.team %></td>
        <td class="tbody"><%= competitor.Elo %></td>
        <td class="tbody"><%= competitor.wins %></td>
        <td class="tbody"><%= competitor.losses %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= render 'layouts/sortable_table_footer' %>

