<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @competitor.name %>
</p>

<p>
  <strong>Team:</strong>
  <%= @competitor.team %>
</p>

<p>
  <strong>Active:</strong>
  <%= @competitor.active %>
</p>

<p>
  <strong>Wins:</strong>
  <%= @competitor.wins %>
</p>

<p>
  <strong>Losses:</strong>
  <%= @competitor.losses %>
</p>

<p>
  <strong> Uploaded on:</strong>
  <%= @competitor.created_at %>
</p>

<br>
<br>
<p>
  <% if @competitor.active != true %>
    <% if @competitor.broken != true %>
      <%= form_for @competitor do |t| %>
        <%= t.hidden_field :active, :value=>true %>
        <%= t.submit "Reactivate Submission" %>
      <% end %>
    <% else %>
      This submittion is Broken, and cannot be Revived. <br>
      Please check your build runs and submit again.
    <% end %>
  <% else %>
    <p>
      <strong><%= "Matches:" %> <%= link_to "New Match", new_game_path, class: "btn btn-lg btn-primary"%></strong>
    </p>
  <% end %>
</p>

<p>
  <%= render 'games/index' %>
</p>

